<div style="text-align: center">
    <h3><?= __('Hello World'); ?></h3>

    <p><?= __('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur
        deserunt enim fuga impedit iure laudantium nihil temporibus veritatis vitae! Accusamus accusantium atque culpa
        cumque harum illum non odio pariatur.'); ?></p>
</div>
<div class="blog-slider__container">
    <div class="blogSlides fade">
        <div class="blog-slider__numbertext"><?= __('1 / 3'); ?></div>
        <img src="<?php echo $block->getViewFileUrl('images/1.jpg'); ?>">
        <div class="blog-slider__text"><?= __('Caption Text'); ?></div>
    </div>

    <div class="blogSlides fade">
        <div class="blog-slider__numbertext"><?= __('2 / 3'); ?></div>
        <img src="<?php echo $block->getViewFileUrl('images/2.jpg'); ?>">
        <div class="blog-slider__text"><?= __('Caption Two'); ?></div>
    </div>

    <div class="blogSlides fade">
        <div class="blog-slider__numbertext"><?= __('3 / 3'); ?></div>
        <img src="<?php echo $block->getViewFileUrl('images/3.jpg'); ?>">
        <div class="blog-slider__text"><?= __('Caption Three'); ?></div>
    </div>

    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>
</div>
<br>

<div class="blogSlider__dots" style="text-align:center">
    <span class="blogSlider__dots--dot active" data-slide="1"></span>
    <span class="blogSlider__dots--dot" data-slide="2"></span>
    <span class="blogSlider__dots--dot" data-slide="3"></span>
</div>

<script>
    require([
        'jquery'
    ], function ($) {
        //Слик слайдер подключить не удалось
        jQuery(document).ready(function () {
            var slideIndex = 1;
            showSlides(slideIndex);

            $( ".blogSlider__dots--dot" ).click(function() {
                currentSlide($(this).data('slide'));
            });

            $( ".blog-slider__container .prev" ).click(function() {
                plusSlides(-1);
            });

            $( ".blog-slider__container .next" ).click(function() {
                plusSlides(1);
            });

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("blogSlides");
                var dots = document.getElementsByClassName("blogSlider__dots--dot");
                if (n > slides.length) {
                    slideIndex = 1
                }
                if (n < 1) {
                    slideIndex = slides.length
                }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
            }
        });
    });
</script>